@charset "UTF-8";
body{
 background-image: url(../images/ストライプ.jpg);
    background-repeat: repeat;
   background-size: 90% auto;/*画像の大きさ調整*/
   
 margin: 0;
    padding: 0;
}

/* ページ全体のコンテンツを中央に配置 */
body > header, body > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* ヘッダー部分のスタイル */
header {
    background-color: #fff; /* 背景色を設定 */
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* シャドウを追加 */
    width: 100%;
}

/* ヘッダー内のタイトルのスタイル */
header h1 {
    color: rgb(0, 0, 128);
    font-size: 2rem;
    margin: 10px 0;
}

/* ナビゲーションメニューのスタイル */
nav>ul {
	
    list-style: none; /* リストスタイルを削除 */
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.25rem;
}

.nav ol {
    margin: 0;
    padding: 0;
    margin-right: 20px; /* メニュー間の間隔を設定 */
}

.nav a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.2s ease; /* リンクのホバー時のトランジション効果 */
}

.nav a:hover {
    color: #0056b3;
}

/* メインコンテンツのスタイル */
main {
    padding: 20px;
}
form>p>input[name="AITENAME"]{
	font-size: 1.25rem;
}

form>p>input[type="date"]{
	font-size:1.5rem;
}
form>p>input[type="radio"]{
	font-size:1.5rem;
}
select[name="RELATIONSHIP"] option {
    font-size: 100px; /* 適切なサイズに変更してください */
}
input[type="text"]{
	font-size: 1.25rem;
}
/* ボタンのスタイル */
input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 20px; /* ボタンの上部のマージンを追加 */
    font-size: 1.5rem;
}

input[type="submit"]:hover/*マウスが要素の上にホバーされたときに適用されるスタイルを指定します。*/
 {
    background-color: #0056b3;
}
textarea{
	height:100px;
}