
h1{
	text-align:center;
	 margin-top: 200px;
	font-size: 3rem;
}

form{
	text-align: center;
	 margin-top: 50px;/*h1���班������*/
	 
}
p{
	font-size: 1.5rem;
}
input[type="text"]{
	font-size: 1.25rem;
}
input[type="password"]{
	font-size: 1.25rem;
}
.botton {
	  background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 20px; /* �{�^���̏㕔�̃}�[�W����ǉ� */
    font-size: 1.25rem;
}

.btn-square:active {
  /*�{�^�����������Ƃ�*/
  -webkit-transform: translateY(4px);
 transform: translateY(4px);/*���ɓ���*/
  border-bottom: none;/*��������*/
  }
input[type="submit"]:hover/*�}�E�X���v�f�̏�Ƀz�o�[���ꂽ�Ƃ��ɓK�p�����X�^�C�����w�肵�܂��B*/
 {
    background-color: #0056b3;
}
.signup{
	color: rgb(0, 0, 255);
	
}
.signup {
    margin-top: 20px; /* �㑤�̗]����ǉ� */
    display: block; /* �����N���u���b�N�v�f�Ƃ��ĕ\���i���s����j */
    text-align: center; /* �����N�𒆉������ɂ��� */
  }

body{
    background-image: url(../images/stripe.jpg);
    background-repeat: repeat;
   background-size: 50% auto;/*�摜�̑傫������*/
}