body{
	text-align: center;
	background-image: url(../images/mori.jpg);
    background-repeat: no-repeat;
   	background-size: 120% auto;
}
h1{
	text-align:center;
	margin-top: 50px;
	font-size: 3rem;
}

form{
	text-align: center;
	 margin-top: 40px;
	 
}
p{
	font-size: 1.5rem;
}
input[type="text"]{
	font-size: 1.25rem;
}
input[type="password"]{
	font-size: 1.25rem;
}
.botton {
	  background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 20px; /* �{�^���̏㕔�̃}�[�W����ǉ� */
    font-size: 1.25rem;
}

.btn-square:active {
  -webkit-transform: translateY(4px);
 transform: translateY(4px);/*���ɓ���*/
  border-bottom: none;/*��������*/
  }
input[type="submit"]:hover
 {
    background-color: #0056b3;
}


a{
  padding: 0 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #4682b4 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
    color: #1e1b19;
    font-family: var(--s-font-07b09f04);
    font-size: 14px;
    font-weight: 500;
    height: auto;
    letter-spacing: 0.05em;
    line-height: 1;
    margin: 0px 0px 0px 0px;
    text-align: center;
    transition-timing-function: ease;
    width: auto;
    max-width: 100%;
    justify-content: center;
}

a:hover{
  background-position: -100% 0;
  color: #fff;
}
