@charset "UTF-8";
body{
	text-align: center;
	    background-image: url(../images/XƒtƒŠ[‰æ‘œ.jpg);
    background-repeat: repeat;
   background-size: 100% auto;/*‰æ‘œ‚Ì‘å‚«‚³’²®*/
   
}

p{
	font-size: 1rem;
}

h1{
	background-color: rgb(0, 0, 255);
	color: aliceblue;
}

