@charset "UTF-8";
body{
	text-align: center;
	background-image: url(../images/mori.jpg);
    background-repeat: no-repeat;
   	background-size: 100% auto;/*�摜�̑傫������*/
   	vertical-align:center;
}

p{
	font-size: 1rem;
}

h1{
	background-color: rgb(0, 0, 255);
	color: aliceblue;
}

a{
  padding: 0 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #4682b4 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
    color: #1e1b19;
    font-family: var(--s-font-07b09f04);
    font-size: 14px;
    font-weight: 500;
    height: auto;
    letter-spacing: 0.05em;
    line-height: 1;
    margin: 0px 0px 0px 0px;
    text-align: center;
    transition-timing-function: ease;
    width: auto;
    max-width: 100%;
    justify-content: center;
}

a:hover{
  background-position: -100% 0;
  color: #fff;
}

