@charset "UTF-8";
.image{
	background-image: url(../images/mori.jpg);
	background-repeat: no-repeat;
   	background-size: 120% auto;
   	font-family: 'Noto Serif JP', serif;
   	height: 95vh;
}
.en{
	text-align: center;
  	font-size: 120px;
  	font-family: "Hiragino Mincho Pro", serif;
   	border-top: 30px;
   	margin:0px;
}

nav>ul{
	list-style: none; 
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.25rem;
}
.topmenu{
	font-size:1.5rem;
	}
h2{
	text-align: center;
}
.main-content{
	text-align: center;
}
footer{
	text-align: center;
	margin:0 auto;
	font-size: 1.25rem;
}

a{
  padding: 0 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
}

a:hover{
  background-position: -100% 0;
  color: #fff;
}


