@charset "UTF-8";

.image{
	background-image: url(../images/haru.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100% auto;
    background-attachment: fixed;
}


form>p>input[type="text"]{
	font-size: 1.25rem;
}

form>p>input[type="date"]{
	font-size:1.25rem;
}
form>p>input[type="radio"]{
	font-size:1.5rem;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 20px;
    font-size: 1.5rem;
}

input[type="submit"]:hover
 {
    background-color: #0056b3;
}
textarea{
	height:70px;
	width: 300px;
}
#file-preview {
    height     : 180px; 
    object-fit: contain;
}

@media(max-width:767px){

}
