@charset "UTF-8";
body{
 background-image: url(../images/haru.jpg);
    background-repeat: no-repeat;
   background-size: 100% auto;
   
 margin: 0;
    padding: 0;
}

body > header, body > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%;
}

header h1 {
    color: rgb(0, 0, 128);
    font-size: 3rem;
    margin: 10px 0;
}

.nav ul {
    list-style: none; 
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.25rem;
}

.nav ol {
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.2s ease;}

.nav a:hover {
    color: #0056b3;
}

main {
    padding: 20px;
}
form>p>input[type="text"]{
	font-size: 1.25rem;
}

form>p>input[type="date"]{
	font-size:1.25rem;
}
form>p>input[type="radio"]{
	font-size:1.5rem;
}

select[name="RELATIONSHIP"] {
  width: 100px; 
  
}
input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 20px;
    font-size: 1.5rem;
}

input[type="submit"]:hover
 {
    background-color: #0056b3;
}
textarea{
	height:70px;
	width: 300px;
}
.logout{
	font-size: 1.25rem;
	
}

a{
  padding: 0 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
}

a:hover{
  background-position: -100% 0;
  color: #fff;
}