.WelcomeMessage {
    transform: translateX(43%);
    font-size: 150%;
    font-family: "Yu Mincho", "Hiragino Mincho Pro", serif;
    font-weight: bold; /* 太字に設定 */
    color: rgb(0, 128, 0); /* 明るめの緑色のRGB値 */
}


body{
	background-repeat: no-repeat;
	
	
  background-image: url(../images/haikei2.png);
    background-repeat: repeat;
   background-size: 100% auto;
   padding:50px ;
   }

   

    
    
        table{
  transform: translateX(12%);
}


.monthNext{
	transform: translateX(45%);
	 font-weight: bold; 
	 font-size:30px;
}