@charset "UTF-8";

@media(max-width:767px){
	.WelcomeMessage {
		transform: translateX(0%);
		font-size:15px;
		align-items: center;
    	text-align: center;
	}
	.monthNext {
	    transform: translateX(0%);
		font-size:15px;
		align-items: center;
    	text-align: center;
	}
	.p{
		font-size:7px;
		}
	}
