body{
  font-family: "Hiragino Kaku Gothic Pro", "�q���M�m�p�S Pro", "Yu Gothic Medium", "���S�V�b�N Medium", YuGothic, "���S�V�b�N��", "���C���I", sans-serif;
  color:#444;
  background-image: url(../images/green.png);
    background-repeat: repeat;
   background-size: 100% auto;/*�摜�̑傫������*/
}
nav>ul{
	margin:30px 0 0 0 ;
	padding: 0;
	list-style-type:none;/*���X�g���ځu�E�v�������Ă���H*/
	display:flex;
	justify-content:center;
	font-size: 1.25rem;
}

#wrapper{
  background:#78909C;
  padding:5vh 0;
  min-height:100vh;
}
h1{
  text-align: center;
   color: rgb(0, 64, 128);
  font-size:2rem;
  margin-bottom:2vh;
  
}
#menu{
  width:80%;
  margin:auto;
  display:flex;
  flex-wrap: wrap;
}
#menu>div{
  width:30%;
  margin-left:2.5%;
  margin-bottom:3vh;
  background:#FFF8E1;
  box-shadow: 2px 2px 2px 2px #efefef;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
#menu>div>p{
  padding:1vh 2vh;
  text-align: center;
}
#menu>div>p:last-child{
  border-top:3px dotted #efefef;
  text-align: right;
}
#menu>div>img{
  width:100%;
}
@media screen and (max-width: 980px) {
  #menu>div{
    width:45%;
  }
}
@media screen and (max-width: 480px) {
  #menu>div{
    width:95%;
  }
}
td{
	background-color:rgb(255, 255, 255) ;
	
   

}
th{
	background-color: rgb(255, 255, 255);
}
table{
	width: 100%;
}
/* �e�[�u�����̃Z���̃X�^�C�� */
table {
  border-collapse: collapse; /* �Z���Ԃ̗]�����폜 */
  width: 100%; /* �e�[�u����e�v�f�ɍ��킹�� */
}

td, th {
  border: 1px solid #000; /* �Z���̋��E����ǉ� */
  padding: 8px; /* �Z���̓����̗]�� */
  text-align: center; /* �e�L�X�g�𒆉��� */
}

/* �w�b�_�[�s�̔w�i�F��ݒ� */
th {
  background-color: #ccc;
}

/* ���݂ɍs�̔w�i�F��ݒ� */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* �Z�����̃e�L�X�g�������ꍇ�̏ȗ��\�� */


/* �z�o�[���ɃZ�����̃e�L�X�g��S�\�� */


th{
	width: 500px;
}
.logout{
	display:block;
	text-align: center;
	margin:0 auto;
	font-size: 1.25rem;
}
footer>p{
	display:block;
	text-align: center;
	margin:0 auto;
	font-size: 1.25rem;
}
.alert-success{
color:#155724;background-color:#d4edda;border-color:#c3e6cb}.alert-success hr{border-top-color:#b1dfbb}