body{
  font-family: "Hiragino Kaku Gothic Pro", "�q���M�m�p�S Pro", "Yu Gothic Medium", "���S�V�b�N Medium", YuGothic, "���S�V�b�N��", "���C���I", sans-serif;
  color:#444;
  background-image: url(../images/green.png);
    background-repeat: repeat;
   background-size: 100% auto;
}
nav>ul{
	margin:30px 0 0 0 ;
	padding: 0;
	list-style-type:none;
	display:flex;
	justify-content:center;
	font-size: 1.25rem;
}

#wrapper{
  background:#78909C;
  padding:5vh 0;
  min-height:100vh;
}
h1{
  text-align: center;
   color: rgb(0, 64, 128);
  font-size:2rem;
  margin-bottom:2vh;
  
}
#menu{
  width:80%;
  margin:auto;
  display:flex;
  flex-wrap: wrap;
}
#menu>div{
  width:30%;
  margin-left:2.5%;
  margin-bottom:3vh;
  background:#FFF8E1;
  box-shadow: 2px 2px 2px 2px #efefef;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
#menu>div>p{
  padding:1vh 2vh;
  text-align: center;
}
#menu>div>p:last-child{
  border-top:3px dotted #efefef;
  text-align: right;
}
#menu>div>img{
  width:100%;
}
@media screen and (max-width: 980px) {
  #menu>div{
    width:45%;
  }
}
@media screen and (max-width: 480px) {
  #menu>div{
    width:95%;
  }
}
td{
	background-color:rgb(255, 255, 255) ;
	
   

}
th{
	background-color: rgb(255, 255, 255);
}
table{
	width: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #ccc;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th{
	width: 500px;
}
.logout{
	display:block;
	text-align: center;
	margin:0 auto;
	font-size: 1.25rem;
}
footer>p{
	display:block;
	text-align: center;
	margin:0 auto;
	font-size: 1.25rem;
}
a{
  padding: 0 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
}

a:hover{
  background-position: -100% 0;
  color: #fff;
}

.alert-success{
color:#155724;background-color:#d4edda;border-color:#c3e6cb}.alert-success hr{border-top-color:#b1dfbb}