@charset "UTF-8";
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h2{
	font-size: 3rem;
	
}

input[type="text"]{
	height:40px;
	width: 250px;
	
}
p{
	padding-top: 15px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 20px; /* ボタンの上部のマージンを追加 */
    font-size: 1.25rem;
}
input[type="submit"]:hover/*マウスが要素の上にホバーされたときに適用されるスタイルを指定します。*/
 {
    background-color: #0056b3;
}
